/* Fill whole screen */
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Small scalable logo */
img {
    width: 6em;
    border-radius: 2em;
    margin: 0.1em;
}

.linktext {
    margin: 0.1em;
    padding: 0.4em;
    border-radius: 2em;
    background-color: rgb(127, 179, 209);
    color: rgb(255, 255, 255);
}

.linktext:hover {
    background-color: rgb(0, 85, 125);
}

/* Indicate that this is clickable */
.clickable {
    cursor: pointer;
}

.row {
    margin: 0;
    margin-top: -0.7vmin;
    height: 7vmin;
}

.row-odd {
    margin-left: 1vmin;
}

.row-pair {
    margin-left: 0.9vmin;
}

.hexagon-wrapper {
    width: 7vmin;
    height: 7vmin;
    transform: rotate(90deg);

    text-align: center;
    margin: 0;
    position: relative;
    display: inline-block;
}

.hexagon {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
    background-color: black;
}

.hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

.kanban-container {
    max-height: 97%;
    border-radius: 1em;
    margin-top: 0.3em;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: rgb(223, 225 ,230);
    overflow: auto;
}

/* Scalable main container filling screen */
#main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#topbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 103, 163);
}

#status {
    border: 0.1em solid black;
}

/* Fills rest of screen */
#workarea {
    display: flex;
    flex: 1 1 auto;
}

#combarea {
    float: left;
    background-color: rgb(255, 153, 0);
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vmin;
    width: 80vmin;
    margin: auto;
}

#sidebar {
    float: right;
    display: flex;
    flex: 1 1 auto;
    background-color: rgb(0, 121, 191);
}

#sidebar * {
    text-align: center;
}

#todo-container {
    display: inline-block;
    width: 80%;
}

#doing-container {
    display: none;
    width: 33.3%;
}

#done-container {
    display: none;
    width: 33.3%;
}

#size {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 103, 163);
}