
body {
	margin: 0;
	background-color: rgb(17, 17, 17);
}

nav {
	width: 100%;
	height: 3.5em;
	background-color: #1f1f1f;
	border-bottom: solid 3px #1f1f1f;
}

#options {
	display: block;
	width: 95%;
	height: 4em;
	border-radius: 8px;
	margin: 1em auto 0 auto; 
	background-color: #1f1f1f; 

}

#listField {
	display: block;
	width: 95%;
	height: 30em;
	border-radius: 8px;
	margin: 1em auto 0 auto; 
	background-color: #1f1f1f; 
	overflow: auto;
}

#generator {
	display: flex;
	justify-content: center;
	width: 95%;
	height: 12em;
	border-radius: 8px;
	margin: 1em auto 0 auto; 
	background-color: #1f1f1f;
	z-index: 9; 
}

#generatorOptions {
	display: flex;
	justify-content: center;
	width: 17%;
	height: 100%;

}

#generatorField {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 83%;
	height: 100%;

}

#newCombBtn {
	font-size: 1.6em;
	margin-top: .5em;
	display: inline-block;
	top: -5em;
	left: -7em;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #3b3a3a;
	z-index: 10;
	border-width: 0px;
	outline: none;
}

#sidebar {
	float: right;
	width: 17%;
	height: 50em;
	margin: 1em 4px 0 0;
	display: inline-block;
	background-color: #383737;
	border-radius: 8px;
	
}

#workspace {

display: inline-block;
width: 82%;
height: 50em;
margin: 0;
float: left;
background-color: rgba(17, 17, 17, 0.81);
background-image: url("IdeaCombLogo.png");
background-blend-mode: color;
background-position: 60% 50%;
background-repeat: no-repeat;
background-size: 585px 270px;


}


#row2 {
position: relative;
top: -3.8em;
left: 4.3em;

}

#row3 {
position: relative;
top: -7.6em;

}

#row4 {
position: relative;
top: -11.4em;
left: 4.3em;

}

#row5 {
position: relative;
top: -15.2em;

}

#row6 {
position: relative;
top: -19em;
left: 4.3em;

}



.cont {
	position: relative;
	top: 2em;
	display: inline-block;
	width:11%;
	height: 11em;
	/*background-color: black;*/
	background-color: rgba(red, green, blue, alpha);
	opacity: 1;
	border-radius: 8px;
	/*opacity: 0.5;*/
}

/*.cont > .box {
	
	position: inherit;
	width: 100%;
	height: 30px;
	background-color: blue;
	border-radius: 8px;
	border: solid 2px lightblue;
	transition: opacity 0.2s ease-in-out;
	cursor: grab;
}*/

/*.hexagon {
  position: relative;
  width: 133.77px; 
  height: 77.23px;
  background-color: #64C7CC;
  margin: 38.62px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 66.885px solid transparent;
  border-right: 66.885px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 38.62px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 38.62px solid #64C7CC;
}*/

.cont > .hexagon {
  position: relative;
  width: 133.77px; 
  height: 77.23px;
  background-color: #3b3a3a;
  margin: 38.62px 0;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.4 ease-in-out;
  
  
}

.cont > .hexagon:before,
.cont > .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 66.885px solid transparent;
  border-right: 66.885px solid transparent;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.9 ease-in-out;
}

.cont > .hexagon:before {
  bottom: 100%;
  border-bottom: 38.62px solid #3b3a3a;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.4 ease-in-out;
}

.cont > .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 38.62px solid #3b3a3a;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.4 ease-in-out;
}

#likebtn {
	border-radius: 50%;
	left: 8em;
	display: inline-block;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	border: 0px solid #ebc645;
	cursor: pointer;
	
}

#deletebtn {
	border-radius: 50%;
	left: 0.5em;
	display: inline-block;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	border: 0px solid #ebc645;
	cursor: pointer;

}

.input {
	color: #969696;
	width: 97%;
	display: block;
	position: absolute;
	top: 3em;
	text-align: center;
	background-color: #3b3a3a;
	border: 0px solid #3b3a3a;

}

#comment {
	border-radius: 50%;
	left: 4.23em;
	top: 6em;
	display: inline-block;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	border: 0px solid #ebc645;
	z-index: 11;
	cursor: pointer;
}

/*Styling for generated hexagon inside generator div*/

#generatorField > .hexagon {
  position: relative;
  width: 133.77px; 
  height: 77.23px;
  background-color: #3b3a3a;
  margin: 38.62px 0;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
  
  
}

#generatorField > .hexagon:before,
#generatorField > .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 66.885px solid transparent;
  border-right: 66.885px solid transparent;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

#generatorField > .hexagon:before {
  bottom: 100%;
  border-bottom: 38.62px solid #3b3a3a;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

#generatorField > .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 38.62px solid #3b3a3a;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

/*Styling for hexagons put in the to do list*/

#listField > .hexagon {

  position: relative;
  width: 95%; 
  height: 5em;
  background-color: #383737;
  margin: 0.5em auto;
  border-radius: 8px;
  border: 2px solid #845c00;
  cursor: grab;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
  
  
}

#listField > .hexagon:before,
#listField > .hexagon:after {
  display: hidden;
  cursor: grab;
  z-index: 10;
}

#listField > .hexagon:before {
  display: hidden;
  cursor: grab;
  z-index: 10;
}

#listField > .hexagon:after {
  display: hidden;
  cursor: grab;
  z-index: 10;

}

/*Properties for the buttons inside TO DO field*/

#listField #likebtn {
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	margin-top: 0.5em;
	width: 1.5em;
	height: 1.5em;
	border: 0px solid #ebc645;
	cursor: pointer;
	
}

#listField #deletebtn {
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	margin-top: 0.5em;
	width: 1.5em;
	height: 1.5em;
	border: 0px solid #ebc645;
	cursor: pointer;

}
#listField .input {
	color: #969696;
	width: 97%;
	display: block;
	position: absolute;
	top: 3em;
	text-align: center;
	background-color: #3b3a3a;
	border: 0px solid #3b3a3a;

}

#listField #comment {
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	margin-top: 0.5em;
	top: 0em;
	width: 1.5em;
	height: 1.5em;
	border: 0px solid #ebc645;
	z-index: 11;
	cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgrey; 
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}