
body {
	margin: 0;
}

nav {
	width: 100%;
	height: 3.5em;
	background-color: #ebc645;
	border-bottom: solid 3px #463e20;
}

#options {
	display: block;
	width: 95%;
	height: 4em;
	border-radius: 8px;
	margin: 1em auto 0 auto; 
	background-color: #ffffff; 

}

#listField {
	display: block;
	width: 95%;
	height: 30em;
	border-radius: 8px;
	margin: 1em auto 0 auto; 
	background-color: #ffffff; 
}

#generator {
	display: flex;
	justify-content: center;
	width: 95%;
	height: 12em;
	border-radius: 8px;
	margin: 1em auto 0 auto; 
	background-color: #ffffff;
	z-index: 9; 
}

#generatorOptions {
	display: flex;
	justify-content: center;
	width: 17%;
	height: 100%;

}

#generatorField {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 83%;
	height: 100%;

}

#newCombBtn {
	margin-top: .5em;
	display: inline-block;
	position: static;
	top: -5em;
	left: -8em;
	width: 35px;
	height: 37px;
	border-radius: 50%;
	background-color: #ebc645;
	z-index: 10;
}

#sidebar {
	float: right;
	width: 17%;
	height: 50em;
	margin: 1em 4px 0 0;
	display: inline-block;
	background-color: #ebc645;
	border-radius: 8px;
	border-bottom: solid 3px #463e20;
}

#workspace {

display: inline-block;
width: 82%;
height: 30em;
margin: 0;
float: left;

}


#row2 {
position: relative;
top: -3.8em;
left: 4.3em;

}

#row3 {
position: relative;
top: -7.6em;

}

#row4 {
position: relative;
top: -11.4em;
left: 4.3em;

}

#row5 {
position: relative;
top: -15.2em;

}

#row6 {
position: relative;
top: -19em;
left: 4.3em;

}



.cont {
	position: relative;
	top: 2em;
	display: inline-block;
	width:11%;
	height: 11em;
	/*background-color: black;*/
	background-color: rgba(red, green, blue, alpha);
	opacity: 1;
	border-radius: 8px;
	/*opacity: 0.5;*/
}

/*.cont > .box {
	
	position: inherit;
	width: 100%;
	height: 30px;
	background-color: blue;
	border-radius: 8px;
	border: solid 2px lightblue;
	transition: opacity 0.2s ease-in-out;
	cursor: grab;
}*/

/*.hexagon {
  position: relative;
  width: 133.77px; 
  height: 77.23px;
  background-color: #64C7CC;
  margin: 38.62px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 66.885px solid transparent;
  border-right: 66.885px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 38.62px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 38.62px solid #64C7CC;
}*/

.cont > .hexagon {
  position: relative;
  width: 133.77px; 
  height: 77.23px;
  background-color: #ebc645;
  margin: 38.62px 0;
  cursor: grab;
  z-index: 10;
  
  
}

.cont > .hexagon:before,
.cont > .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 66.885px solid transparent;
  border-right: 66.885px solid transparent;
  cursor: grab;
  z-index: 10;
}

.cont > .hexagon:before {
  bottom: 100%;
  border-bottom: 38.62px solid #ebc645;
  cursor: grab;
  z-index: 10;
}

.cont > .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 38.62px solid #ebc645;
  cursor: grab;
  z-index: 10;
}

.cont > .hexagon > #likebtn {
	border-radius: 50%;
	left: 7em;
	display: inline-block;
	position: relative;
	width: 2em;
	height: 2em;
	
}

.cont > .hexagon > #deletebtn {
	border-radius: 50%;
	left: 1em;
	display: inline-block;
	position: relative;
	width: 2em;
	height: 2em;

}

/*Styling for generated hexagon inside generator div*/

#generatorField > .hexagon {
  position: relative;
  width: 150px; 
  height: 86.60px;
  background-color: #ebc645;
  margin: 43.30px 0;
  cursor: grab;
  z-index: 10;
  
  
}

#generatorField > .hexagon:before,
#generatorField > .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  cursor: grab;
  z-index: 10;
}

#generatorField > .hexagon:before {
  bottom: 100%;
  border-bottom: 43.30px solid #ebc645;
  cursor: grab;
  z-index: 10;
}

#generatorField > .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #ebc645;
  cursor: grab;
  z-index: 10;
}